<center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h1>Petite blague pour toi le sang !</h1>
<p>C'est une mouette qui mange un sandwich 🥪 Ya une autre mouette qui arrive, elle a la dalle et elle lui dit "vas-y, viens on fait mouette mouette !"</p>
</center>